

.wrapper{
	margin-left : 15%;
	margin-right : 15%;
	background-color:#fff;
		 min-width:700px;
		 box-shadow:10px 10px 10px #1e1e1e;
		 margin-bottom: 70px;
	    height:auto;
		 overflow: auto;
		 	
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;	
	border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

nav li {
    float: left;
	border-right: 1px solid #bbb; /* line in between nav elements*/
}

nav li a {
    display: block;
    color: #12004C;
    text-align: center;
    padding: 16px 100px 14px 100px;
    text-decoration: none;
	font-size:100%;
}

nav li a:hover {
    background-color: #417C81;
}
li:last-child {
    border-right: none;
}
body{
	font-family: Arial, Verdana, sans-serif;
	background-image: url(images/background.gif);
	width:auto;
	background-color: #00FFFF;
	color: #330000;
	background-repeat:no-repeat;
	background-position:center;
}

header{
	background-image: url(images/water.gif);
	background-repeat: no-repeat;
	background-position:center;
	height: 200px;
	background-size: 550px;
	background-color:#ffffff;
	color: #ffffff;
	text-align: center;
	margin: 0;
	text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

